@import url('https://fonts.googleapis.com/css?family=Lato');
*{
  margin: 0;
}
@keyframes slideIn{
  from{
    transform: translateX(-100px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.center{
  display: flex;
  justify-content: center;
}
#box{
  background: #191c1b;
  height: 100px;
}
nav {
	display: flex;
	justify-content: space-between;
}
nav {
	background: #191c1b;
  width: 1200px;
	padding: 1em;
}
nav a {
		font-family: 'Lato';
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		align-self: center;
    transition: .25s background;
	}
nav div {
		margin-left: 1em;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
  }
nav a{
		align-self: center;
		padding: 0.25em 0.5em;
  }
nav a:hover{
    background: rgba(0, 0, 0, 0.5);
    transition: 1s background;
}
header{
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #191c1b;
  font-family: 'Lato', Arial;
}
header h1, header p{
  color: white;
  animation: 1s slideIn;
}
header span{
  color: #E91E63;
}
header img{
  height: 100px;
  width: auto;
  animation: 1s fadeIn;
  animation-delay: .75s;
  animation-fill-mode: both;
}
button{
  border-radius: 100px;
  border: 0;
  height: 70px;
  width: 70px;
  background:#E91E63;
  transform: translateY(-35px);
  transition: background 1s, transform 1s;
}
button:hover{
  background: #009688;
  transition: background 1s, transform 1s;
  cursor: pointer;
}
button:hover img{
  transform: translateY(15px);
  transition: background 1s, transform .5s;
}
button img{
  height: 20px;
  width: auto;
  transform: translateY(3px);
}
.about{
  margin: 0 auto;
  margin-bottom: 100px;
  flex-direction: column;
  height: auto;
  width: 40%;
  font-family: 'Lato';
}
.about h2{
  text-decoration: underline;
  margin-bottom: 50px;
}
.about p{
  color: black;
}
article{
  height: auto;
  padding: 100px;
  background: #191c1b;
  font-family: 'Lato';
}
.cardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.card{
  height: 200px;
  margin: 1em;
  width: 350px;
  transition: .5s transform;
}
.card:hover{
  transform: scale(1.1);
  transition: .5s transform;
  cursor: pointer;
}
