body{
  background-image: url("https://media.giphy.com/media/l0Iy1k4HghSJlhOxi/giphy.gif");
}

.card {
	max-width: 60em;
	margin-left: auto;
  margin-right: auto;
	padding: 20px;
	height: auto;
	width: auto;
  text-align: center;
  background:rgba(0, 0, 0, 0.5);
  color: white;
}
.card2 {
	max-width: 90em;
  margin-top: 1em;
	margin-left: auto;
  margin-right: auto;
	padding: 20px;
	height: auto;
	width: auto;
  text-align: center;
  background:rgba(0, 0, 0, 0.5);
  color: white;
}

img{
  max-height: 300px;
  max-width: auto;
}
