@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
body{
  background: url("../images/pony.png");
  background-size: cover;
  background-position: center;
}

.card {
  margin:20vh 20vw 0 20vw;
	max-width: 60em;
	margin-left: auto;
  margin-right: auto;
	padding: 20px;
	height: auto;
	width: auto;
  text-align: center;
  background:rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Source Code Pro', Arial;
}
.card2 {
	margin-left: auto;
  margin-right: auto;
	height: auto;
	width: auto;
  text-align: center;
  color: white;
  font-family: 'Source Code Pro', Arial;
}

.button{
  margin: 1em;
  padding: 1em 2em 1em 2em;
  border-radius: 10px;
  transition: .2s border-radius ease-out;
  border: 3px solid white;
  color: white;
}
.button:hover{
  border-radius: 30px;
  transition: .2s border-radius ease-in;
}
