@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Khula');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Cabin');
*{
  margin: 0;
}
header{
  background-image: url("../images/header3.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
}
header h1,h2{
  color: white;
}
header h1{
  font-size: 80px;
}
header img{
  max-width: 5em;
  max-height: auto;
}
header p{
  color: white;
  font-weight: bold;
}
header a{
  text-decoration: none;
  color: white;
}
.aboutme{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: auto;
  padding: 100px;
}
.aboutme p{
  color:black;
  max-width: 40vw;
  margin-top: 1em;
}
.aboutme h1{
  color: #ef5350;
}
.contact{
  font-family: 'Cabin', Arial;
  height: auto;
  background-image: url("../images/aboutwall.jpg");
}
.contactFrm h4 {
    font-size: 1em;
    color: #252525;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-weight: 300;
}
.contactFrm input[type="text"], .contactFrm input[type="email"] {
    width: 92%;
    color: #9370DB;
    background: #fff;
    outline: none;
    font-size: 0.9em;
    padding: .7em 1em;
    display: block;
    margin-bottom: 1.2em;
}
.contactFrm textarea {
    resize: none;
    width: 93.5%;
    background: #fff;
    color: #9370DB;
    font-size: 0.9em;
    outline: none;
    padding: .6em 1em;
    min-height: 10em;
}
.contactFrm input[type="submit"] {
  transition: 1s border-radius, .2s background-color;
  margin-bottom: 2em;
    outline: none;
    width: 100px;
    padding: 10px;
    border: 0;
    color: white;
    border-radius: 10px;
    background-color: #ce93d8;
    cursor: pointer;
}
.contactFrm input[type="submit"]:hover {
    transition: 1s border-radius, .2s background-color;
    background-color: #e57373;
    border-radius: 100px;
}
p.statusMsg{font-size:18px;}
p.succdiv{color: white;}
p.errordiv{color:red;}
.wrap{
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.font{
  font-family: 'Cabin', Arial;
}
.center{
  display: flex;
  text-align: center;
  flex-direction: column;
	align-items: center;
  justify-content: center;
}
.materialheader{
  display: flex;
  height: auto;
  padding: 10px;
  background-image: url("../images/materialheader.jpg");
  background-size: cover;
  background-position: center;
}
.materialheader h1{
  font-size: 25px;
  color: white;
}
.materialline{
  height: 2vh;
  background-color: #ef5350;
  box-shadow: 0px 4px 59px -1px rgba(0,0,0,0.75);
}
.card {
	max-width: 60em;
  margin: 20vh 0 0 0;
	margin-left: auto;
  margin-right: auto;
	height: auto;
	width: auto;
  box-shadow: 0px 5px 11px grey;
  text-align: center;
}
.madeby{
  height: auto;
  padding: 10px;
  text-align: center;
  background: #26a69a;
}
iFrame{
  border:0;
  max-width: 100%;
  max-height: auto;
}
.card h2{
  color: black;
}
.card p{
  margin-bottom: 10px;
}
.image{
  transition: 2s font-size;
  transition: .5s background-size;
  height: 20vh;
  background-size: 100%;
  background-position: center;
  color: white;
}
.image:hover{
  transition: .5s background-size;
  background-size: 85%;
}
.image a{
  text-decoration: none;
  color:white;
}
.image1{
  background-image: url("../images/desk.jpg");
}
.image2{
  background-image: url("../images/model.jpg");
}
.button{
  margin: 1em;
  padding: 1em 2em 1em 2em;
  border-radius: 10px;
  transition: .2s border-radius ease-out;
  border: 3px solid white;
  color: white;
}
.button:hover{
  border-radius: 30px;
  transition: .2s border-radius ease-in;
}
.button a{
  text-decoration: none;
  color: white;
}
.button p{
  font-family: 'Cabin', Arial;
}
.firstImage{
  display:flex;
  float: right;
  margin: 0 0 1.5em 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 350px;
  max-width: auto;
}
.secondImage{
  display:flex;
  float: left;
  margin: 0 1.5em 1.5em 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 350px;
  max-width: auto;
}
.line{
  height: 2vh;
  background-color: #64b5f6;
}
.sep1{
  height:1vh;
  background-color: #9575cd;
  margin-top: 5vh;
}
.sep2{
  height:1vh;
  background-color: #64b5f6;
  margin-bottom: 5vh;
}
.imageright{
  float:right;
  height: 300px;
  width: auto;
  margin: 1em 0 1em 1em;
  box-shadow: 0px 5px 11px grey;
}
.imageleft{
  float:left;
  height: 300px;
  width: auto;
  margin: 1em 1em 1em 0;
  box-shadow: 0px 5px 11px grey;
}
.webHeader{
  height: 25vh;
  background-image: url("../images/coding.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
.webBelow{
  height: 3vh;
  background: #4db6ac;
  color: white;
  box-shadow: 0px 5px 11px grey;
}
.leftButton{
  max-width: 1em;
  max-height: 1em;
  border-radius: 50px;
  transition: border-radius .2s, background .2s;
  background: #4db6ac;
  padding: 1em;
  color: white;
}
.leftButton a{
  text-decoration: none;
  color: white;
}
.leftButton:hover{
  border-radius: 10px;
  transition: border-radius .2s, background .2s;
  background: #4dd0e1;
}
input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}
textarea {
	width: 400px;
	height: 150px;
	max-width: 400px;
	line-height: 18px;
}
input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}
.form label {
	margin-left: 10px;
	color: #999999;
}
.submit input {
	width: 100px;
	height: 40px;
	background-color: #474E69;
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
nav {
	display: flex;
	justify-content: space-between;
  background-color: white;
	padding: 1em;
}
nav a {
		color: black;
		text-transform: uppercase;
		text-decoration: none;
    font-family: 'Cabin', Arial;
    align-self: center;
		padding: 0.25em 0.5em;
    border-radius: 100px;
    background: white;
    transition: 1s border-radius, .5s background;
	}
  nav a:hover{
    transition: .2s background, .2s color;
    background: #e57373;
    border-radius: 5px;
    color: white;
  }
nav div {
		margin-left: 1em;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
  }
nav img{
  height: 3em;
  width: 3em;
}
@media screen and (max-width: 600px){
  .card{
    margin: 0;
    border: 0;
  }
  .made{
    margin: 0;
  }
  .materialheader .button{
    display: none;
  }
  .firstImage{
    float: 0;
  }
  .secondImage{
    float: 0;
  }
  header{
    padding: 5em 0 5em 0;
  }
  .aboutme{
    padding: 20px;
  }
  .aboutme p{
    max-width: 100%;
  }
}
@media screen and (max-width: 1000px){
  .made{
    border-radius: 0;
  }
  .card{
    margin:0;
  }
}
